*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.navbar .logo{
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;

  
}
.navbar ul li{

    list-style: none;
    
    
}
.navbar ul li a{
    text-decoration: none;
    padding: 50px;
    color: black;


}
.navbar .logo span{
    font-size: 2rem;
   color: red;
   font-weight: bold;
}

.navbar .search{
    display: flex;
    align-items: center;
}
.navbar .search li {
    list-style: none;
    
  
}


.navbar .search li a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* main body css */

.text{
    font-size: 2rem;
}

.pg{
    font-size: 2rem;
    color: blue;
    font-family: sans-serif;
    font-display: 50%;
}